<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="leaflet-map" version="0.2.3">

    <details>
        <title>Leaflet map viewer</title>
        <homepage>https://github.com/mognom/leaflet-map-widget</homepage>
        <authors>Alejandro Rodríguez Fraga</authors>
        <email>alex.rodriguez@conwet.com</email>
        <image></image>
        <smartphoneimage></smartphoneimage>
        <description>Map viewer using the Leaflet API</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/userguide.md</doc>
        <license>MIT</license>
        <issuetracker>https://github.com/mognom/leaflet-map-widget/issues</issuetracker>
    </details>

    <preferences>
        <preference name="tileLayer" label="Tile Layer" type="text" description="Choose between one of the available Tile Layers 'CartoDB_Voyager', 'CartoDB_Positron', 'OSM_Mapnik', 'OSM_DE'." default="OSM_DE"/>
        <preference name="initialCenter" label="Initial Location" type="text" description="Decimal coordinates where map will be centered on load (e.g. `52, 5`). Leave this setting empty and and the map will automatically pan to the present coordinates." default=""/>
        <preference name="initialZoom" label="Initial Zoom Level" type="text" description="Initial zoom level. From 1 to 18, where '1' represents the furthest level and '18' the maximum zoom level." default="3"/>
        <preference name="minzoom" label="Min Zoom" type="text" description="Minimun zoom allowed" default="4"/>
        <preference name="maxzoom" label="Max Zoom" type="text" description="Maximum zoom allowed" default="18"/>
        <preference name="iconName" label="Marker Icon" type="text" description="Name of the icon. Leaflet.awesome-markers Plugin (e.g. L.AwesomeMarkers.icon({icon: 'coffee', markerColor: 'red'}) )" default=""/>
        <preference name="markerColor" label="Marker Color" type="text" description="Color of the marker. Leaflet.awesome-markers Plugin (e.g. L.AwesomeMarkers.icon({icon: 'coffee', markerColor: 'red'}) )" default=""/>
        <preference name="useMulticolorPolyline" label="Use Multicolor for Polyline" type="boolean" description="Mark this option to set each polyline in a different color." default="false" />
        <preference name="useHyphensPolyline" label="Use Hyphens for Polyline" type="boolean" description="Mark this option for displaying polylines with hyphens.." default="false" />
        <preference name="polylineWeight" label="Weight for Polyline" type="text" description="Specify the weight with which polyline is to be displayed." default="4"/>

        <preference name="useTooltip" label="Use Tooltip" type="boolean" description="Mark this option to use tooltip instead of popup" default="false" />
        <preference name="useClustering" label="Use Clustering" type="boolean" description="Mark this option to use clustering for displaying map features" default="false" />
        <preference name="useDrawingPath" label="Use Drawing Path Animation" type="boolean" description="Mark this option to activate an automatic drawing of the paths (polyline)." default="false" />
        <preference name="useMovingMarker" label="Use Moving Mark Animation" type="boolean" description="Mark this option to enable automatic movement of a marker on a path (polyline)." default="false" />

        <preference name="useSnakeAnimation" label="Use Snake Animation" type="boolean" description="Mark this option to make polylines animate into existence." default="false" />
        <preference name="startPointMarkerLine" label="Startpoint Marker Snake Animation" type="text"
                    description="Identical to the previous field 'Marker icon', except that here a marker can be defined for the startpoint of a line. For example, the startpoint of a line can be set with a marker like a car-icon and the destination with a marker like a home-icon. If the field remains the same, no marker is set." default=""/>
        <preference name="endPointMarkerLine" label="Endpoint Marker Snake Animation" type="text"
                    description="Identical to the previous field 'Marker icon', except that here a marker can be defined for the endpoint of a line. For example, the endpoint of a line can be set with a marker like a car-icon and the destination with a marker like a home-icon. If the field remains the same, no marker is set." default=""/>
    </preferences>

    <wiring>
        <inputendpoint name="poiInput" type="text" label="Insert/Update PoI" description="Insert or update a Point of Interest." friendcode="poi poi-list"/>
        <inputendpoint name="replacePoIs" type="text" label="Replace PoIs" description="Replace all the rendered PoIs by the ones provided in the event." friendcode="poi poi-list"/>
        <inputendpoint name="deletePoiInput" type="text" label="Delete PoI" description="Removes one or more point of interests from the map." friendcode="poi poi-list"/>
        <inputendpoint name="heatmap" type="text" label="Add heatmap layer" description="Add a heatmap layer to the map" friendcode="leaflet-heatmap"/>
        <outputendpoint name="poiOutput" type="text" label="PoI selected" description="A PoI has been selected on the map" friendcode="poi"/>
        <outputendpoint name="poiListOutput" type="text" label="Visible PoIs" description="List of visible PoIs" friendcode="poi-list"/>
    </wiring>

    <contents src="index.html" useplatformstyle="true"/>
    <rendering height="300px" width="300px"/>

</widget>
